.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
}

