#contenedorFooter {
    bottom: 0;
    width: 100%;
    background-color: #e7e7e7; /* Color de fondo del footer */
    color: #98A2B3; /* Color del texto */
    display: grid;
    grid-template-columns: 80% 10% 10%; /* Columnas para el texto y las imágenes */
    align-items: center; /* Centrar verticalmente */
    padding: 10px 2vw; /* Espacio interior con padding en porcentaje del ancho de la ventana */
    gap: 10px;
  }
  
  #creditos {
    font-family: 'Titillium Web';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 150% */
    max-width: 400px;
  }
  
  #logoInstagram {
    justify-self: end; /* Alinear a la derecha */
    width: 20px; /* Ancho de las imágenes */
    height: auto; /* Altura automática */
  }
  #logoFacebook {
    width: 20px; /* Ancho de las imágenes */
    height: auto; /* Altura automática */
  }
  
  @media screen and (max-width: 767px) {
    #contenedorFooter {
      grid-template-columns: 70% 15% 15%; /* Columnas para el texto y las imágenes */
    }  
  }