#contenedor {
  display: flex;
  justify-content: space-between;
}

#textos {
  margin-left: 15em;
  margin-top: 10em;
}

#titulo {
  color: #000;
  font-family: "Titillium Web";
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

#parrafo {
  color: #67696b;
  font-family: "Titillium Web";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 150% */
}

#imagen {
}
